<% if @product.errors.any? %>
  <div id="errors">
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for build_product(@product) do |f| %>
  <% if params[:all].nil? %>
    <%= render 'products/steps/current_step', f: f %>
  <% else %>
    <%= render 'products/steps/all_steps', f: f %>
  <% end %>
<% end %>
